{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">DJUMBOP App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis impedit inventore iste id repellendus modi possimus sequi similique reprehenderit, magni aperiam ut ex cupiditate nobis perferendis voluptatem dolore incidunt aut doloribus. Unde minima incidunt fuga delectus obcaecati totam vero itaque molestias commodi saepe. Eius quos voluptatibus facilis eveniet ducimus optio similique in tempore corrupti cum deserunt quibusdam blanditiis facere possimus recusandae rem perspiciatis ab, illo ipsum dolores a expedita nesciunt error consequuntur? Officia fuga harum, corrupti sapiente velit magnam rerum veritatis omnis quos molestias ut unde quasi ab. Ipsam ullam dolores labore libero maiores deserunt doloremque maxime eos sint minus.</p>
  </section>
</main>
{% endblock %}